body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: hero, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

li {
    margin-left: 24px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 136px;
}

.header-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 16px;
}

.text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 16px;
}

.banner button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    margin: 4px 2px;
    border-radius: 6px;
}

.img-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a5a9b1;
    flex: 1;
    color: #F9FAF8;
}

.container {
    flex: 1;
}

.banner {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 96px 136px;
}

.info {
    padding: 36px 136px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 36px;
    text-align: center;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 36px;
}

.info-card {
    flex: 1;
    max-width: 140px;
    margin: 0px 8px;
}

.box {
    border-radius: 6px;
    border: 2px solid #3882F6;
    padding: 20px;
    width: 100px;
    height: 100px;
    margin: 8px 0px;
    flex: 1;
}

.subtext {
    color: #1F2937;
    text-align: center;
}

.testimonial {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 96px 136px;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
}

.quote-attrib {
    font-weight: 700;
    font-size: 20px;
    align-self: flex-end; 
}